$bg1: red;
$bg2: yellow;
.wrapper {
        width: 600px;
        height: 600px;

        .bounc {
            width: 400px;
            height: 300px;
            background-color: $bg1;

            &:hover {
                cursor: pointer;
                background-color: $bg2;
                transform: rotate(360deg);
                transition: 5s;

            }
        }
    }